@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap');

.home {
    background: url("../../assets/space.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #FFF;
    padding-top:56px ;
    
    
}
.phrase {
    margin-top: 20rem;
}

.phrase h5{
    font-size: 4.5rem;
    font-weight: 700;
    font-family: 'Orbitron', sans-serif;
}
.pod-wrapper {
    position: relative;
}
.first{
    position: absolute;
    color: white;
    bottom: 30px;
    right: 40px;
    background-color: black;
    padding: 1rem;
    opacity: .5;
    width: 40%;
}
.image{
    height: 100vh;
    width: 100%;
     
}


.pod{
    position: absolute;
    color: #FFF;
    font-size: 32px;
    text-transform: uppercase;
    top: 40px;
    font-family: 'Orbitron', sans-serif;
    
}

.about {
    color: #000;
    display: flex;
    margin: 30px 0;
    padding: 40px 0;
}
.about-title {
    flex: 1;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
}

.about-info {
    flex: 1;
    text-align: start;
}

.content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
   
    margin-top: 40px;
}

.content-item {
    border-top: 1px solid #c9c9c9;
    width: 320px;
    min-width: 320px;
    padding: 10px 0;
    margin-right: 10px;
    
}

.content-item h5 {
    font-family: 'Orbitron', sans-serif;
}

.content-item p{
    font-size: 14px;
}

.content-item:nth-child(3) {
    border-bottom: 1px solid #c9c9c9;
}

.content-item:last-child {
    border-bottom: 1px solid #c9c9c9;
}

.first p {
    font-size: 13px;
}

.scroll {
    display: flex;
    width: fit-content;
    justify-content: center;
    margin: 0 auto;
}

.scroll img {
    width: 22px;
    height: 12px;
    margin: 0px 6px;
 
}

.bounce {
    animation: bounce 2s ease infinite;
  }
  @keyframes bounce {
      0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
      40% {transform: translateY(-15px);}
      60% {transform: translateY(-5px);}
  }